<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unrd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UnrdAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnrdiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8435BCAD254AF75700DC15DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C1AEE52548D94A00E93BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C1AEEE2548D94A00E93BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F9097A254B097600979C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F90982254B097600979C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
